################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Localization/.vs/Localization/v16
/src/Localization/Localization/obj
/src/Localization/obj
/src/Localization/bin/Debug
/src/.vs/Localization/v16
/src/.vs/Localization/DesignTimeBuild/.dtbcache.v2
