################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Localization/.vs/Localization/v16
/src/Localization/Localization/obj
/src/Localization/obj
/src/Localization/bin/Debug
/src/.vs/Localization/v16
/src/.vs/Localization/DesignTimeBuild/.dtbcache.v2
/src/Localization.Xamarin/bin/Debug
/src/Localization.Xamarin/obj
/src/Localization/.vs/Localization/DesignTimeBuild
/src/Localization.Windows/bin
/src/Localization.Windows/obj
/samples/.vs/Localization.Samples/v16/.suo
/src/Localization/bin/Release
/src/Localization.Xamarin/bin/Release
/src/Localization.Mvc/bin
/src/Localization.Mvc/obj
/samples/Localization.Samples.AppWpf/obj
/samples/Localization.Samples.AppWpf/bin/Debug/netcoreapp3.1
/samples/Localization.Samples.AppWpf/Localization.Samples.AppWpf.csproj.user
