@page "/counter"
@using Localization.Blazor.Bindings

<h1>@Binding.Translate("BlazorCounter")</h1>

<p>@Binding.Translate("BlazorCurrentCount"): @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Binding.Translate("BlazorClickMe")</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
