@page "/"
@using Localization.Blazor.Bindings


<h1>@Binding.Translate("BlazorHelloWorld")</h1>

@Binding.Translate("BlazorWelcome")

<SurveyPrompt Title="@Binding.Translate("BlazorHowisitworks")" />
