@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@using Localization.Blazor.Bindings

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button @onclick="SetItalianLanguage">@Binding.Translate("BlazorSetItalian")</button>
        <button href="#" @onclick="SetEnglishLanguage">@Binding.Translate("BlazorSetEnglish")</button>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void SetItalianLanguage()
    {
        LocalizationManager.Instance.SetCulture(new System.Globalization.CultureInfo("it-IT"));
        _navigationManager.NavigateTo(_navigationManager.Uri, true);
    }
    private void SetEnglishLanguage()
    {
        LocalizationManager.Instance.SetCulture(new System.Globalization.CultureInfo("en-US"));
        _navigationManager.NavigateTo(_navigationManager.Uri, true);
    }
}
